<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner.png") %>);">
  <div class="container">
    <h1>Upload your input files easily!</h1>
  </div>
</div>


<%# add a simple form for input a file%>
<div class="container">
  <div class="row">
  <%# redirect to file_uploads new path%>
  <%= link_to "Upload your input files", new_file_upload_path, class: "btn btn-primary" %>
  </div>
</div>
