<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner.png") %>);">
  <div class="container">
    <h1>Upload your input files easily!</h1>
  </div>
</div>
